<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Proyector Philco</title>
</head>
<body class="container mt-5">
    <div class=" alert alert-info display-1 text-center">
        <img src="{%static "img/logoempresa.png" %}" width="200px" alt=""> Django Electronic Bazar</div>
    <div class="alert alert-info display-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="{%static "img/electronico3.png" %}" width="600px" alt="">
            </div>
            <div class="col-md-6 mt-3">
                <span style="font-size: 20px;">
                    Especificaciones tecnicas:
                    <ul>
                        <li>Lámpara 5.8" LCD TFT</li>
                        <li>Resolución 1920*1080, 1080P</li>
                        <li>Brillo 3500 Lúmenes</li>
                        <li>Contraste 4000:1</li>
                        <li>Rotación De Imagen 360°</li>
                        <li>Foco Manual</li>
                        <li>Aspecto 16:9 & 4:3</li>
                        <li>Lenguaje Ing/Fr/Spa/Port/Ara/Chin/Etc, Total 23 Idiomas</li>
                        <li>Tipo de Lámpara LED 50000 Horas De Vida</li>
                        <li>Acercamiento Zoom Eléctrico Remoto</li>
                        <li>Tamaño De Imagen 35"-150"</li>
                        <li>Ajuste Trapezoide Vertical 15° De Correción</li>
                        <li>Ruido <25dB </li>
                        <li>Voltaje 110-240V/ 50-60Hz</li>
                        <li>Entradas HDMIx2 / USBx2 / AV</li>
                        <li>Tamaño 27.2 x 23.2 x 10.7 Cm</li>
                        <li>Peso 2.2Kgs / 2.7Kgs</li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
    
    <br>
    <a href="/" class="btn btn-info mt-5"><i class="bi bi-rewind"></i>Regresar</a>
</body>
</html>